@page "/users/edit"
@using INTERNET_SHOP.Models
@using INTERNET_SHOP.Models.Entities
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<INTERNET_SHOP.Data.INTERNET_SHOPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>User</h2>
<hr />
@if (User is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="User" OnValidSubmit="UpdateUser" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="User.Id" value="@User.Id" />
                <div class="mb-3">
                    <label for="ip" class="form-label">IP:</label>
                    <InputText id="ip" @bind-Value="User.IP" class="form-control" />
                    <ValidationMessage For="() => User.IP" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="os" class="form-label">OS:</label>
                    <InputText id="os" @bind-Value="User.OS" class="form-control" />
                    <ValidationMessage For="() => User.OS" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="pcname" class="form-label">PcName:</label>
                    <InputText id="pcname" @bind-Value="User.PcName" class="form-control" />
                    <ValidationMessage For="() => User.PcName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="manufacturerprocessor" class="form-label">ManufacturerProcessor:</label>
                    <InputText id="manufacturerprocessor" @bind-Value="User.ManufacturerProcessor" class="form-control" />
                    <ValidationMessage For="() => User.ManufacturerProcessor" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/users">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private User? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        User ??= await context.User.FirstOrDefaultAsync(m => m.Id == Id);

        if (User is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateUser()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(User!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UserExists(User!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/users");
    }

    private bool UserExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.User.Any(e => e.Id == id);
    }
}
