@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using INTERNET_SHOP.Models
@using INTERNET_SHOP.Data
@implements IAsyncDisposable
@inject IDbContextFactory<INTERNET_SHOP.Data.INTERNET_SHOPContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.IP" />
    <PropertyColumn Property="user => user.OS" />
    <PropertyColumn Property="user => user.PcName" />
    <PropertyColumn Property="user => user.ManufacturerProcessor" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private INTERNET_SHOPContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
