@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="menu-toggle" onclick="toggleSidebar()">Скрыть меню</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    function toggleSidebar() {
        var sidebar = document.getElementById("sidebar");
        if (sidebar.style.display === "none") {
            sidebar.style.display = "block";
        } else {
            sidebar.style.display = "none";
        }
    }
</script>